# Data files - too large for git

data/*.zip
#data/*.db
#data/FAERS*/
data/raw
data/Medicare*/
data/*.csv
data/*.txt
data/*.pdf
data/*.xlsx

# Database files
* .db
*.db-shm
*.db-wal
*.db-journal
faers.db
faers+medicare.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
trashcan/

